<div class="pds">
	<ul class="list inset">
		<li class="control-group">
			<label for="">原密码</label>
			<div class="controls">
				<input type="text" name="oldPassword" id="oldPassword" value="">
			</div>
		</li>
		<li class="control-group">
			<label for="">新密码</label>
			<div class="controls">
				<input type="password" name="newPassword" id="newPassword" value="">
			</div>
		</li>
		<li class="control-group">
			<label for="">重复密码</label>
			<div class="controls">
				<input type="password" name="rePassword" id="rePassword"  value="">
			</div>
		</li>
	</ul>
	<button class="button button-block blue large primary" type="button" onclick="setup.changePassword()">修改</button>
</div>