<div class="pdhs">
	<ul class="list inset" id="netSettingList"></ul>
	<ul class="list list-active inset">
		<li><a href="#netEdit" onclick="netSetting.edit()">添加一个新的地址</a></li>
	</ul>
	
	<textarea style="display:none;" type="text/ibos-template" id="netSettingTpl">
		<li class="radio-group">
			<span onclick="netSetting.edit(<%=id%>)" class="oper">编辑</span>
			<input id="netRadio<%=id%>" type="radio" name="netSelect" value="<%=url%>" <%if(defautlID==id){%>checked="checked"<%}%> onclick="netSetting.setDefault(<%=id%>)" />
			<label for="netRadio<%=id%>" ><%=name%></label>
		</li>
	</textarea>
</div>