<div class="pdhs">
	<ul class="list inset">
		<li class="control-group">
			<label for="">地址</label>
			<div class="controls">
				<input id="netIDInput" type="hidden" value="" />
				<input id="netUrlInput" type="url" value="http://" placeholder="http://192.168.1.1" />
			</div>
		</li>
		<li class="control-group">
			<label for="">名称</label>
			<div class="controls">
				<input id="netNameInput" type="text" value="内网" placeholder="内网" />
			</div>
		</li>
	</ul>
	<a class="button orange large primary" onclick="netSetting.del();"> 删除 </a>
	<a class="button blue large primary" onclick="netSetting.save($('#netIDInput').val());" > 保存 </a>
</div>