<header>
	<a href="javascript:;" class="button ao-cancel" onclick="$.ui.goBack();"></a>
	<h1>点评日志</h1>
	<a href="javascript:;" class="button ao-ok"></a>
</header>

<textarea id="diaryCommentInput" name="diaryCommentInput" rows="10" class="trans-input" placeholder="请输入点评"></textarea>


<footer class="toolbar">
	<!-- 图章显示层 -->
	<div class="stamp-display">
		<span>干得不错！<i class="aoicon ao-cancel"></i></span>
	</div>
	<a href="javascript:;"><i class="ao-face"></i></a>
	<a href="javascript:;"><i class="ao-stamp"></i></a>
</footer>
