<div id="work_done" class="panel" data-header="header_work_done" data-footer="none" data-nav="menu_work" data-title="已办结">
	<header id="header_work_done">
		<a onclick='af.ui.toggleSideMenu()' class='button ao-menu'></a>
		<h1>已办结</h1>
		<a onclick="app.goHome();" class='button ao-home'></a>
	</header>
	<div>
		<ul class="list list-active" id="work_done_list">
			<!-- Toolbar: (收回、催办提醒、关注)|(取消关注) -->
		</ul>
	</div>
	<textarea id="work_done_tpl" class="hideim">
		<li>
			<a href="javascript:alert('已办结的流程不能再次办理');"><!--  data-evt="<%= opflag ? 'sponsorWork': 'operateWork' %>" data-param='{"runId": "<%=runid%>","key":"<%=key%>"}' -->
				<div class="briefh">
					<h4 class="title"><%=runName%></h4>
					<div class="content">
						<span class="label label-small black"><%=flowprocess%></span>
						<%=stepname%>
					</div>
				</div>
			</a>
		</li>
	</textarea>
	<script>
		$LAB.script("js/work/workdone.js")
		.wait(function () {
			WorkDone.init();
		})
	</script>
</div>