<div id="work_follow" class="panel" data-header="header_work_follow" data-footer="none" data-nav="menu_work" data-title="关注">
	<header id="header_work_follow">
		<a onclick='af.ui.toggleSideMenu()' class='button ao-menu'></a>
		<h1>关注</h1>
		<a onclick="app.goHome();" class='button ao-home'></a>
	</header>
	<div>
		<ul class="list list-active" id="work_follow_list">
			<!-- Toolbar: (取消关注) -->
		</ul>
	</div>
	<textarea id="work_follow_tpl" class="hideim">
		<li>
			<a href="javascript:;">
				<div class="briefh">
					<h4 class="title"><%=runName%></h4>
					<time class="time"><%=core.toDatetime(begintime)%></time>
					<div class="content">
						<% if(focus) { %>
						<i class="aoicon ao-goldstar flr"></i>
						<% } %>
						[<%=runid%>]<%=stepname%>
					</div>
				</div>
			</a>
		</li>
	</textarea>
	<script>
		$LAB.script("js/work/workfollow.js")
		.wait(function () {
			WorkFollow.init();
		})
	</script>
</div>




