<!-- 微博:普通 -->
<div data-node="feedBox" class="wb-feed">
	<div class="pds">
		<!-- 个人信息 -->
		<div class="media">
			<div class="media-costar avatar">
				<img src="http://ink.cc/avatar.php?uid=1&amp;size=middle&amp;engine=LOCAL" class="rds">
			</div>
			<div class="media-body">
				<div class="wb-feed-title">
					<h4 class="wb-feed-un">千茄子</h4>
				</div>
				<div class="fss xcn">
					<span class="xco">刚刚</span>
					来自 iphone
				</div>
			</div>
		</div>
	</div>
	<!-- 微博内容 -->
	<div class="wb-feed-ct bdbgr">
		<p>让我说些什么好呢？</p>
	</div>
	<!-- 快速工具条 -->
	<div class="cmflex bggrl rdub sep">
		<!-- 评论 -->
		<a href="javascript:;" class="cmflex-item cmflex-singlerow xca">
			<i class="ao16 ao-comment-gray"></i>
			12
		</a>
		<!-- 转发 -->
		<a href="javascript:;" class="cmflex-item cmflex-singlerow xca">
			<i class="ao16 ao-forward-gray"></i>
			2
		</a>
		<!-- 赞 -->
		<a href="javascript:;" class="cmflex-item cmflex-singlerow xca">
			<i class="ao16 ao-digg-gray"></i>
			5
		</a>
	</div>
</div>
