<div id="mail_del" class="panel" data-footer="none" data-header="header_mail_del" data-nav="menu_mail" data-title="已删除">
	<header id="header_mail_del">
		<a onclick='af.ui.toggleSideMenu()' class='button ao-menu'></a>
		<h1>已删除</h1>
		<a onclick="app.goHome()" class='button ao-home'></a>
	</header>
	<!-- search box -->
	<div class="search-bar">
		<input type="search" placeholder="搜索" name="mailSearchInput" id="mailSearchInput" />				
	</div>
	<ul class="list list-active multi mail-list mail-del-list" id="mail_del_list"></ul>
	<!-- list template -->
	<textarea id="mail_del_list_tpl" class="hideim">
		<li id="mail_item_<%=emailid %>">
			<!-- 操作菜单 -->
			<!-- <div class="list-menu mail-af-list-menu">
				<a href="javascript:;" slide-ignore>
					<i class="aoicon ao-trash"></i>
					<p>还原</p>
				</a>
			</div> -->
			<a href="javascript:;" onclick="Email.loadMail(<%=emailid%>,this)">
				<time class="flr time"><%=core.toDatetime(sendtime)%></time>
				<p class="xcd"><%=fromuser%></p>
				<p class="<%=important == '1' ? 'xcr': 'xcn'%>"><%=subject%></p>
			</a>
		</li>
	</textarea>
	<script>

	(function(){
		$LAB.script("js/mail/maildel.js")
		.wait(function(){
			MailDel.init();
		})

		// $LAB.script("js/slide.js")
		// .wait(function(){
		// 	new Slide("mail_del_list", { selector: "li > a", distance: 80 });
		// })
	})();
	</script>
</div>