<div id="mail_new" class="panel" data-footer="none" data-header="header_mail_new" data-nav="none">
	<!-- Header: 新建邮件 -->
	<header id="header_mail_new">
		<a onclick='$.ui.goBack()' class='button ao-cancel'></a>
		<h1>新建邮件</h1>
		<a onclick="Email.sendMail();" class='button ao-send'></a>
	</header>
	<form action="">
		<div>
			<div class="control-group bdbgr">
				<label for="" class="">收件人：</label>
				<div class="controls user-selector-bar">
					<!-- <input id="mailToInput" name="mailToInput" type="text" /> -->
					<a href="javascript:;" class="aoicon ao-more-gray posa-o" onclick="Email.selectRecipient()"></a>
					<ul class="user-selector-list" id="mail_user"></ul>
				</div>
			</div>
			<div class="control-group bdbgr">
				<label for="" class="">主  题：</label>
				<div class="controls">
					<input id="mailSubjectInput" name="mailSubjectInput" type="text"  placeholder="请输入邮件主题" value=""/>
				</div>
			</div> 
			<textarea id="mailContentInput" name="mailContentInput" rows="10" class="trans-input" placeholder="请输入邮件正文"></textarea>
			<!-- 回复邮件时 -->
	<!-- 		<div class="pds">
				<div class="xac">———————  原始邮件  ———————</div>
				<div class="well lightgray">
					<dl class="kvlist">
						<dt>发件人：</dt>
						<dd>杨杰</dd>
						<dt>收件人：</dt>
						<dd>黄蓉蓉</dd>
						<dt>时间：</dt>
						<dd><time>2013年2月5日</time></dd>
						<dt>主题：</dt>
						<dd>关于国庆放假的通知</dd>
					</dl>
						发件人：杨杰<br />
						收件人：黄蓉蓉<br />
						时间：<time>2013年2月5日</time><br />
						主题：关于国庆放假的通知<br />
				</div>
				<div>
					我想到那天夕阳下的奔跑
				</div>
			</div> -->
		</div>
	</form>
	<script>
		$LAB.script("js/userselect.js", "js/letter.js")
		.wait(function(){

			var $subject = $("#mailSubjectInput"),
				$content = $("#mailContentInput");

			var data = app.param.get("mailEditData");

			var insUser = User.get("mail_user");
			if(insUser) {
				insUser.destory();
			}
			insUser = new User('mail_user');

			core.autoTextarea($content.get(0));
			
			$subject.val(data.subject);
			$content.val(data.content);

			if(data.user){
				insUser.set(data.user);
			} else{
				insUser.clear();
			}
		})
	</script>
</div>
